<script lang="ts">


  //TODO write a customized audio player
  import axios from 'axios';
  import SearchBar from '../components/SearchBar.svelte'
  import Track from "../components/Player/Track.svelte";
  import Controls from "../components/Player/Controls.svelte";

  let audios = [];

  const search = async (searchQuery) => {
    console.log(searchQuery);
    const response = await axios.get(`http://localhost:3001/search?search=${searchQuery}`, {
      responseType: 'text',
    });
    //TODO videos variable is to be fixed
    let videos = JSON.parse(response.data).filter(x => x.type == "stream");

    audios = await Promise.all(videos.map(async (video) => {
      const id = new URL(video.url, "https://www.youtube.com").searchParams.get('v');
      const src = (await axios.get(`http://localhost:3001/audio/${id}`)).data;

      // const srcResponse = await axios.get(`http://localhost:3001/stream/${video.videoId}`);
      // const src = srcResponse.data;
      console.log(src)

      return {
        "src": src,
        "title": video.title,
        "artist": video.uploaderName,
        "thumbnail": video.thumbnail
      };
    }));
  };

</script>

<main>
  <h1> to-stream: music streaming service </h1>

  <SearchBar search={search} />

  {#each audios.slice(0, 8) as audio}
    {#if audio && audio.src && audio.title && audio.artist && audio.thumbnail}
      <Track src={audio.src} title={audio.title} artist={audio.artist} thumbnail={audio.thumbnail} /> <!-- Pass src and title as props -->
    {/if}
  {/each}

<!--  <audio src="https://envs.sh/tE1.m4a" controls> </audio>-->

<!--  {#each videos.slice(0, 8) as video}-->
<!--    {#if video.src && video.title && video.artist && video.thumbnail}-->
<!--      <audio src={video.src} controls></audio>-->
<!--    {/if}-->
<!--  {/each}-->

  <div class="controls">
    <Controls  />
  </div>

</main>
<style>
  h1 {
    font-size: 1.7em;
  }
  main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; /* This line is optional but can be useful if you want to stack items vertically */
      height: 100vh; /* This line is to ensure the main takes the full viewport height */
  }
  .controls {
    position: fixed;
    bottom: 0;
  }
</style>