<script lang="ts">
  export let title: string;
  export let src: string;
  export let thumbnail: string;
  export let artist: string;
</script>

<div id="wrapper">
  <div id="first">
    <img class="thumbnail"  height="65" src={thumbnail} alt="Thumbnail" />
  </div>
  <div id="second">
    <h2>{title}</h2>
    <audio controls preload="none">
      <source src={src} type="audio/mp3" />
      Your browser does not support the audio element.
    </audio>
</div>
</div>


<style>
  h2 { 
    font-size: 1.1em;
  }
  audio{
    width: 20em;
    height: 2em;
  }
  #first, #second {
      float: left;
      width: 50%; 
  }
  #wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
</style>