<script>
    let searchQuery;
    export let search;

    async function helper(){
      search(searchQuery);
    }

</script>

<div class="input-wrapper">
  <input bind:value={searchQuery} type="text" placeholder="search query">
  <button on:click={helper}> search </button>
</div>

<style>
 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
 }

 button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
 }
 .input-wrapper {
  margin-bottom: 2em;
 }
</style>