<script>
    import Slider from "./Slider.svelte";
    import PlayButton from "./PlayButton.svelte";
	import { status, isPlaying, audioPlayer, index, trackList, currentTrack } from './stores.js'
    import {onMount} from "svelte";

    const format = (seconds) => {
        if (isNaN(seconds)) return '0:00';

        const minutes = Math.floor(seconds / 60);
        seconds = Math.floor(seconds % 60);
        if (seconds < 10) seconds = `0${seconds}`;

        return `${minutes}:${seconds}`;
    };

    let duration = 0;
    let currentTime = 0;
    let formattedTime = format(currentTime);
    let paused = true;
    let volume = 0.5;

    let slider;
    let rAF = null;

    // let title = $trackList[$index].title;
    // let artist = $trackList[$index].artist;
    // let src = $trackList[$index].file;
    // let thumbnail = $trackList[$index].thumbnail;

	function whilePlaying() {
		slider.value = audio.currentTime;
		currentTime = slider.value;
		rAF = requestAnimationFrame(whilePlaying);
	}
	
	function loadTrack($index) { 
		// title = $trackList[$index].title;
		// artist = $trackList[$index].artist;
		$audioPlayer.src = $trackList[$index].file; 
		$audioPlayer.load();
	}
	
	function playTrack() {
		$isPlaying = true;
		requestAnimationFrame(whilePlaying);
		$audioPlayer.play()
	}
	
	function pauseTrack() {
		$isPlaying = false;
		cancelAnimationFrame(rAF);
		$audioPlayer.pause()
	}

    function movePosition() {
        time = slider.value;
        if(!audio.paused) {
            cancelAnimationFrame(rAF);
        }
    }

    function updatePosition() {
        audio.currentTime = slider.value;
        if(!audio.paused) {
            requestAnimationFrame(whilePlaying);
        }
    }

	function previousTrack() {
		$isPlaying = false;
		currentTime = 0;
		if ($index > 0) {
			$index -= 1; 
		} else {
			$index = $trackList.length - 1
		}
		loadTrack($index);
		playTrack();	
	}
	
	function nextTrack() {
		$isPlaying = false;
		currentTime = 0;
		if ($index < $trackList.length - 1) {
			$index += 1; 
		} else {
			$index = 0
		}
		loadTrack($index);
		playTrack();
	}

    onMount(() => {
        $audioPlayer.load();
    })
</script>


<audio
	bind:this={$audioPlayer}
	bind:duration={duration}
	bind:currentTime={currentTime}
	bind:paused={paused}
	bind:volume={volume}

	on:canplay="{() => $status = 'can play some'}"
	on:canplaythrough="{() => $status = 'can play all'}"
	on:waiting="{() => $status = 'waiting'}"
	on:timeupdate="{() => $status = 'playing'}"
	on:seeking="{() => $status = 'seeking'}"

	on:ended="{() => {$isPlaying = false; currentTime = 0}}"
	src={$trackList[$index].file}
/>

<div class='controls'>
    <div class='progress'>
        <div class='progress-slider'>
            <Slider
                    bind:this={slider}
                    min={0}
                    bind:value={currentTime}
                    max={duration}
                    step={0.01}
                    precision={2}
                    formatter="{v => format(v)}"
                    on:input={movePosition}
                    on:change={updatePosition}
            />
        </div>
        <span class='time'>{format(currentTime)}</span>
        <span class='duration'>{format(duration)}</span>
    </div>

    <div class="non-progress">
        <div class="buttons">
            <div class="thumbnail">
                <img class="thumbnail" src={$trackList[$index].thumbnail} alt="thumbnail" width="70px">
            </div>
            <div class="info">
                <div class="title">{ $trackList[$index].title}</div>
                <div class="artist">{$trackList[$index].artist}</div>
            </div>
        </div>
        <div>
            QUEUE
        </div>
        <div class='buttons'>
            <button class='prev' on:click={previousTrack}>
                <img src="prev.png" alt="next" width="14">
            </button>
            <div class="play-btn">
                <PlayButton controls  />
            </div>
            <button class='next' on:click={nextTrack}>
                <img src="next.png" alt="next" width="15">
            </button>
        </div>
        <div>
            AUDIO
        </div>
    </div>
</div>

<style>
    .progress-slider {
        width: 80vw;
    }
    .duration {
        position: absolute;
        right: 0;
    }
    .non-progress, .buttons {
        display: flex;
        margin-bottom: 15px;
    }
    .non-progress {
        gap: 7em;
        align-items: center;
        justify-content: center;
    }
    .buttons {
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 1px;
    }
    .play-btn{
        margin-bottom: 5px;
    }
    .progress-slider {
        margin-bottom: .4em;
    }
    button {
        background-color: white;
        border: none;
    }
    button:hover {
        cursor: pointer;
    }
    .thumbnail {
        border-radius: 12px;
        float: left;
        margin-bottom: 5px;
    }
    .title{
        font-weight: bold;
        font-size: 19px;
    }
    .artist {
        margin-top: 0.1em;
        font-style: oblique;
        margin-bottom: 5px;
    }
    .prev { margin-right: 0.3em;}
</style>
