<script>
	import { status, isPlaying, audioPlayer, index, trackList, addTrack } from './stores.js'

	export let controls = false;
	export let track = false;
	export let title = '';
	export let artist = '';
	export let file = '';
	
	function playTrack() {
		$audioPlayer.play();
		console.log("playing");
		$isPlaying = true;
	}
	
	function pauseTrack() {
		$audioPlayer.pause()
		$isPlaying = false;
	}
	
	function loadTrack($index) { 
		title = $trackList[$index].title; 
		artist = $trackList[$index].artist;
		$audioPlayer.src = $trackList[$index].file;
		$audioPlayer.load(); 
	};
	
	function addAndPlayTrack() {
		addTrack({title, artist, file});
		$index = $trackList.length -1;
// 		$currentTime = 0;
		// Load and play the new track 
		loadTrack($index); 
		playTrack(); 
	};
</script>

<main>
	{#if controls}
		{#if $isPlaying === false}
			<button class='play-button controls' on:click={playTrack}>
				<img src="play-button.png" alt="play-button" width="20">
			</button>
		{:else if $isPlaying === true}
			<button class='play-button controls' on:click={pauseTrack} >
				<img src="pause-button.png" alt="play-button" width="20">
			</button>
		{/if}
	{/if}
</main>

<style>
	button {
		background-color: white;
		border-radius: 4em;
		border: none;
		width: 40px;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	button:hover {
		cursor: pointer;
	}

</style>