<script>
    import {index, trackList, audioPlayer, addTrack, isPlaying, currentTrack} from "./stores.js";

    export let title;
    export let artist;
    export let thumbnail;
    export let src;

    console.log(title, artist, thumbnail, src);

    if (title.length > 66) {
        title = title.slice(0,63) + "...";
    }

    function playTrack() {
        $audioPlayer.play()
        $isPlaying = true;
    }

    function pauseTrack() {
        $audioPlayer.pause()
        $isPlaying = false;
    }

    function loadTrack($index) {
        title = $trackList[$index].title;
        artist = $trackList[$index].artist;
        $audioPlayer.src = $trackList[$index].file;
        $audioPlayer.load();
    }

    function addAndPlayTrack() {
        addTrack({
            title: title,
            artist: artist,
            file: src,
            thumbnail: thumbnail
        });
        console.log($trackList);

        $index = $trackList.length - 1;
// 		$currentTime = 0;
        // Load and play the new track
        loadTrack($index);
        playTrack();
        $trackList[$index].title = title;
    }
</script>

<div class='info' class:playing={title === $trackList[$index].title} on:click={addAndPlayTrack}>
    <div class="thumbnail"> <img class="thumbnail" src={thumbnail} alt="thumbnail" width="70px"> </div>
    <div class="text">
        <div class="title">{title}</div>
        <div class="artist">{artist}</div>
    </div>
</div>

<style>
    .info {
        width: 600px;
        column-gap: 1rem;
        margin-bottom: .4em;
        border-radius: 12px;
    }

    .info:hover {
        background-color: #F0F0F0;
        /*border-bottom: 1px black;*/
        cursor: pointer;
    }

    .thumbnail {
        border-radius: 12px;
        float: left;
    }

    .text {
        margin-left: 2em;
        display: inline-block;
    }
    .title{
        font-weight: bold;
    }
    .artist {
        margin-top: 0.1em;
        font-style: oblique;
    }

    .playing {
        background-color: #F0F0F0;
    }
</style>
