<script>
	import { status, isPlaying, audioPlayer, index, trackList, addTrack } from './stores.js'
	import PlayButton from './PlayButton.svelte'
	
	export let title;
	export let artist;
	export let src;
	export let thumbnail = "https://i.ytimg.com/vi/siO6dkqidc4/hq720.jpg?sqp=-oaymwE2CNAFEJQDSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIGUoZTAP&rs=AOn4CLD_T5-fM3cjDgAnrywKJkw7YfvU8A";
</script>


<div class='info' class:playing={title === $trackList[$index].title}>
<!--	<div class='play-button'>-->
<!--		<PlayButton track title={title} artist={artist} file={src}/>-->
<!--	</div>-->

	<div class="thumbnail"> <img class="thumbnail" src={thumbnail} alt="thumbnail" width="90px"> </div>
	<div>
		<div class="title">{title}</div>
		<div class="artist">{artist}</div>
	</div>
<!--	<div class="play-button"> <img src="play-button.png" width="24px"> </div>-->
</div>

<style>
	.info {
		background-color: #F0F0F0;
		width: 700px;
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		column-gap: 5rem;
		border-radius: 16px 16px 16px 16px;
		margin-bottom: .4em;
	}

	.thumbnail {
		border-radius: 16px 16px 16px 16px;
	}

	.title{
		font-weight: bold;
	}
	.artist {
		margin-top: 10px;
		font-style: oblique;
	}

	.playing {
		border: 1px solid #000;
	}

	.play-button {
		float: right;
		cursor: pointer;
	}
</style>
